.main h1 {
  line-height: 1;
  margin-bottom: 25px;
  color: #e0e9f2;
}
.mainbox {
  border-top: 1px solid rgba(255, 255, 255, 0.136);
  margin-top: 80px;
  padding-top: 100px;
}
.main p {
  font-size: 14px;
}

.iconbox {
  display: flex;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.8);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  margin-right: 10px;
  margin-top: 10px;
  transition: 0.3s;
}
.icon:hover {
  border: 1px solid #e3a127;
}
.a {
  text-decoration: none;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
}
.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ul li {
  padding: 5px 0px;
  display: flex;
  align-items: left;
}
.box3 p {
  font-size: 12px;
}
.box3 h6 {
  padding-bottom: 9px;
}
.a:hover {
  color: #e3a127;
}
.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  background-color: #141c23;
  margin-top: 50px;
  font-size: 12px;
}
.copyright span {
  color: #e3a127;
}
